# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
